/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  /* ## COLORS */

  /* ### Primary */

  --strong-cyan: #26baa4;
  --light-blue: hsl(233, 100%, 69%);

  /* ### Neutral */

  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  color: #555;
  font-weight: 400;
  line-height: 1;
  font-size: 1.8rem;
}
.container {
  max-width: 70rem;
  padding: 9.6rem 4.8rem 2.4rem 4.8rem;
  margin: 0 auto;

  text-align: center;
}

.heading-secondary {
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 1.6rem;
}

.heading-tertiary {
  margin-bottom: 1.2rem;
}

p {
  font-size: 1.5rem;
  color: var(--grayish-blue);
  letter-spacing: 0.2px;
  line-height: 1.5;
}

.btn {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 32px;
  border: none;
  font-family: inherit;
  color: #eee;

  transition: all 0.3s;
}
