/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 42 / 48 / 64 / 80 / 96 / 128
*/

/**************************/
/* HEADER */
/**************************/

.header {
  text-align: center;
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: bisque;
}
.header .logo {
  height: 9.6rem;
  margin-bottom: 4.8rem;
}
.header-paragraph {
  font-size: 1.6rem;
  margin-bottom: 4.2rem;
}

/* Buttons */

.btn-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.btn-container .btn:nth-child(1) {
  background-color: var(--strong-cyan);
  box-shadow: 0 5px 5px var(--strong-cyan);
}
.btn-container .btn:nth-child(2) {
  background-color: var(--light-blue);
  box-shadow: 0 5px 5px var(--light-blue);
}

/* Change bg image to cover to stop it from cutting off */
@media (min-width: 1750px) {
  .header {
    background-size: cover;
  }
}
