/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 42 / 48 / 64 / 80 / 96 / 128
*/

/**************************/
/* HEADER */
/**************************/

.header {
  text-align: center;
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.header .logo {
  height: 9.6rem;
  margin-bottom: 4.8rem;
}
.header-paragraph {
  font-size: 1.6rem;
  margin-bottom: 4.2rem;
}
